<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Departamento de Desenho Industrial &mdash; UTFPR</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron text-left">
      <h1>Departamento Acadêmico de Desenho Industrial</h1>
      <p>Universidade Tecnológica Federal do Paraná</p>
    </div>
    <div class="row">
      <div class="col-sm-2 dadin-menu">
        <ul>
          <li><a href="index.html">Ingresso</a></li>
          <li><a href="cursos.html">Cursos de graduação</a></li>
          <li><a href="#">Pós-Graduação</a></li>
          <li><a href="#">Pesquisa</a></li>
          <li><a href="#">Extensão</a></li>
          <li><a href="docentes.html">Corpo docente</a></li>
          <li><a href="#">Alunos</a></li>
          <li><a href="#">Laboratórios</a></li>
          <li><a href="http://www.utfpr.edu.br">UTFPR</a></li>
          <li><a href="#">Bolsas</a></li>
          <li><a href="galeria.html">Galeria</a></li>
        </ul>
      </div>
      <div class="col-sm-8 dadin-content">
        <h3>Galeria</h3>
        <div class="dadin-galeria">
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
          <div class="dadin-item">
            <img width="200" height="150">
          </div>
        </div>
      </div>
      <div class="col-sm-2 dadin-menu">
        <ul>
          <li><span class="glyphicon glyphicon-search"></span> Busca</li>
          <li><span class="glyphicon glyphicon-log-in"></span> Login</li>
          <li><span class="glyphicon glyphicon-inbox"></span> Webmail</li>
          <li><span class="glyphicon glyphicon-cloud-download"></span> Nuvem</li>
          <li><span class="glyphicon glyphicon-user"></span> Contato</li>
          <li><span class="glyphicon glyphicon-calendar"></span> Calendário</li>
          <li><span class="glyphicon glyphicon-bullhorn"></span> Eventos</li>
        </ul>
      </div>
    </div>
    <footer>
      Departamento Acadêmico de Desenho Industrial &mdash; 2017
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
